html,body {
    margin:0;
    padding:0;
    height: 100%;
}



.Fill {

    position: absolute;
    width: 100%;
    height: 100%;
    
}



.KonstanzRed {
    background-color: #CD2C29;
    color: white
}

#KonstanzRed {
    background-color: #CD2C29;
    color: white
}


.H_Center {
    display: flex;
    justify-content: center;
    
}

.V_Center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Spacer{
    flex: 1;
    min-height: 20px;
    
}

.Groupbox {
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    border: 1px solid #838383;
    border-radius: 5px;
    background-color: white;
}

.Text {
    font-size: 15px;
    
}

.TextInput {
    padding: 5px;
    margin: 5px;
}

.Button {
    border: 1px solid #000000;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    
    background-color: rgb(240, 240, 240);
    color: #000000;
}

.Link{
    background-color: transparent;
    color: blue;
    margin-top: 10px;
    border-width: 0px;
}

.ErrorMessage{
    font-size: x-small;
    color: red;
}

